.breadcrumbs {
margin: 20px 0;
a {
  &:hover {
  color: $moxmoda-orange;
  }
}
}

.two-column-layout-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;

  .sidebar {
    flex: 0 0 25%;
    background-color: white;
    padding: 20px;
    .bio-box {
      .brand {
        font-size: 17px;
        color: gray;
        font-style: italic;
        margin-bottom: 5px;
      }
      .city {
        font-weight: 800;
      }
      .bio-image {
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
      }

      .description {
        margin-top: 10px;
      }
    }
  }
