<div class="container">
  <div class="row">
    <div class="col-xs-12">


<div class="designers-search-display">
<div class="search-col-container">
   <h4 class="text-center">Regions</h4>
  <ul>
    <li>Africa</li>
    <li>Asia</li>
    <li>North America</li>
    <li>Central America</li>
    <li>South America</li>
    <li>Middle East</li>
    <li>Europe</li>
    <li>Oceania</li>
  </ul>
