.navbar-mox-moda {
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 900;
}
